<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>About</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Droid+Sans'>

      <link rel="stylesheet" href="timeline-5/css/style.css">
      
      {% include head.html %}
  
</head>

<body>
  {% include header.html %}

  
  <div class="entries">
  <div class="entry">
    <div class="title big">Jan 2020 - Present</div>
    <div class="body">
      <p>Research Assistant working on the project <a href="#" class="link">Interpreting Paintings</a> in collaboration with the Art Department @Virginia Tech</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">August 2018 - August 2020</div>
    <div class="body">
      <p>Graduated from Virginia Tech with a Master's Degree in Computer Engineering</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">May 2019 - May 2020</div>
    <div class="body">
      <p>Graduate Teaching and Research Assistant @ECE Department, Virginia Tech</p>
      <p>Designed the course <a href="#" class="link">Computational Engineering</a> for the ECE Department</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2018</div>
    <div class="body">
      <p>Patent for <a href="#" class="link">Waste Segregation using Artificial Neural Networks</a> published</p>
    </div>
  </div>
  <div class="entry">
    <div class="title big">September 2017 - June 2018</div>
    <div class="body">
      <p>Worked as a Software Test Engineer @Oracle</p>
      <p>Delectus facere officia consequuntur molestias deserunt illo. Placeat laudantium beatae natus excepturi ab nihil voluptates.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">August 2013 - August 2017</div>
    <div class="body">
      <p>Graduated from Visvesvaraya Technological University with a Bachelor's Degree in Electronics and Communication</p>
    </div>
  </div>
</div>
  
    <script src="timeline-5/js/index.js"></script>

    {% include footer.html %}

</body>
</html>
