<!-- Wrapper -->
<div id="wrapper">
<!-- Header 
<script src="assets/js/mySketch.js" type="text/javascript"></script><script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js" type="text/javascript"></script> -->
<header id="header"{% if page.layout == "otherprojects" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong></a>
	<a href="{{ "" | absolute_url }}#home-about" class="logo"><strong>About</strong></a>
	<a href="{{ "" | absolute_url }}#home-main" class="logo"><strong>Featured Projects</strong></a>
	<a href="Shalini_Ragothaman_Resume.pdf" class="logo" target="_blank"><strong>Resume</strong></a>
	<a href="#footer" class="logo"><strong>Contact</strong></a>
	<!--<nav>
		<a href="#menu">Menu</a>{{ "" | absolute_url }}#home-about
	</nav>-->
	<!---
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="#main">Featured Projects</a></li>
		<li><a href="#">Other Projects</a></li>
		<li><a href="Shalini_Ragothaman_Resume.pdf">Resume</a></li>
		<li><a href="#footer">Contact</a></li>
  	</ul>-->

</header>

<!-- Menu -->
<!--<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>-->
